body {
  padding-top: 80px;
}
.container chapter-box {
  line-height: 10em;
}

div.box.chapter-box > p {
  margin-top: 0.8em !important;
}

/* .container.chapterbox {
  display: flex;
  justify-content: center;
  width: 50rem;
} */

.navbar-item img {
  max-height: 2.5rem;
}
.footer {
  margin-top: 1em;
  background-color: #fafafa;
  padding: 2rem 1.5rem 2rem;
}

.loaders-container {
  padding: 20px;
  margin: 0 auto;
  width: 700px;
  text-align: center;
  font-size: 0;
}

.loaders-container .container {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 30px;
  width: 25%;
  height: 140px;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(107, 29, 233);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
#nextChapter {
  margin-left: 2em;
}
#chapterBox {
  position: relative;
}
#changeOrder {
  position: absolute;
  margin: 0;
  top: 1%;
  right: 5%;
}
